*.pptx
*.doc
*.docx
*.pdf
*.ppt
*.zip
*.xls
*.xlsx
*.drawio
*.png
*.DS_STORE
*.jpg
*.jpeg
*.gif
*.mp3
*.mp4
*.mkv
semester_3/computational_physics_n_biology/ppe_webapp_py3_4_4_0
semester_3/english_professional
node_modules
ref/